terraform.
.terraform
cloudformation/.terraform
*.terraform.lock.hcl
tf/.terraform
tf/static/ng-credentials.yaml
tf/secret
tf/terraform.tfvars
night_shutdown/.terraform
night_shutdown/secret
night_shutdown/terraform.tfvars
*.tfvars
tf/test